<h1>Customers</h1>

<table class="table table-hover table-striped">
  <tr>
    <th><%= sortable "id", "Customer ID" %></th>
    <th><%= sortable "last_name", "Customer Name" %></th>
    <th>Order(s) Placed</th>
    <th></th>
    <th></th>
  </tr>
  <% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %>
    <td><%= customer.first_name + " " + customer.last_name %></td>
    <td><%= customer.orders.count %></td>
    <td><%= link_to "View", customer_path(customer) %></td>
    <td><%= link_to "Create Order", new_customer_order_path(customer) %></td>
  </tr>
  <% end %>
</table>