<%= form_for(@order) do |f| %>
    <div class="form-group">
        <%= f.label :pickup_date %>
        <%= f.datetime_field :pickup_date, :class => "form-control" %>
    </div>
    <div class="form-group">
    <%= f.fields_for :customer do |c| %>
        <%= c.hidden_field :customer_id, value: @customer_id %>
        <%= c.label :first_name %>
        <%= c.text_field :first_name, :class => "form-control" %>
        </div>
    <div class="form-group">
        <%= c.label :last_name %>
        <%= c.text_field :last_name, :class => "form-control" %>
    <% end %>
    </div>
    <div class="form-group">
    <table class="styled-table">
        <tr>
            <th></th>
            <th>Category</th>
            <th>Size</th>
            <th>Flavor</th>
            <th>Current Quantity</th>
        </tr>
        <% Product.all.each do |p| %>
        <tr>
            <td><input type="checkbox" class="form-check-input" name="order[product_ids][]" value="<%= p.id %>" id="product_id_<%= p.id %>"></td>
            <td><%= p.category %></td>
            <td><%= p.size %></td>
            <td><%= p.flavor %></td>
            <td><%= p.current_quantity %></td>
        </tr>
        <% end %>
    </table>
    </div>
    
    <input type="submit" value="Create Order" class="btn btn-primary">
    
<% end %>