<h1>Order Log</h1>

  <% form_tag orders_path do %>
  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  </p>
  <% end %>

    <table class="table table-hover table-striped">
  <tr>
    <th><%= sortable "id", "Order ID" %></th>
    <th>Customer ID</th>
    <th>Customer</th>
    <th><%= sortable "pickup_date", "Pickup Date" %></th>
    <th>Category</th>
    <th>Size</th>
    <th>Flavor</th>
    <th></th>
  </tr>
  <% @orders.each do |order| %>
    <% order.products.each do |product| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.customer.id %>
    <td><%= order.customer.first_name + " " + order.customer.last_name %></td>
    <td><%= order.pickup_date.strftime("%m/%d/%y") %></td>
    <td><%= product.category %></td>
    <td><%= product.size %></td>
    <td><%= product.flavor %></td>
    <td><%= link_to "View", order_path(order) %></td>
  </tr>
  <% end %>
  <% end %>
</table>