<!DOCTYPE html>
<html>
  <head>
    <title>RailsAppProductOrdering</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= yield %>
  <footer>
  <% if current_user %>
    <%= link_to "Logout", logout_path, method: :post%>
    <br>
    <label>Logged in as: <%= session[:username] %></label>
  <% else %>
    <%= link_to "Sign Up", signup_path %>
    <br>
    <%= link_to "Sign in with Facebook", '/auth/facebook' %>
  <% end%>
  </footer>

  </body>
</html>
